.cart-popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 450px;
  height: 100%;
  background: white;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  z-index: 100;
}

.cart-popup-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.cart-popup-header h2 {
  font-weight: 400;
}

.cart-popup-close {
  cursor: pointer;
}

.cart-popup-header button {
  border: none;
  background-color: white;
  color: gray;
  font-size: 1rem;
}

.cart-item {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.cart-item-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-buttons-left {
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: gray;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 5px 10px;
}

.cart-buttons-left button {
  border: none;
  background-color: white;
}

.trash-can {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart-total {
  margin-top: 3rem;
  border-top: 1px solid lightgray;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  color: lightgray;
}

.subtotal-price {
  color: black;
  font-weight: bold;
}

.checkout {
  width: 100%;
  background-color: var(--dark-green);
  border: none;
  padding: 20px 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
