.hero-container {
  width: auto;
  height: 184px;
  background-color: var(--light-green);
  display: flex;
  align-items: center;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 3rem;
  padding: 0 3rem;
  font-family: "Poppins", sans-serif;
}

.hero-header {
  margin: 0;
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 2%;
}

.hero-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}

.hero-divider {
  width: 2px;
  height: 3rem;
  background-color: gray;
}
