.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 86px;
}

.sort {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.right-side {
  display: flex;
  align-items: center;
}

.search {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  height: 37px;
}

.search p {
  font-size: 13px;
  line-height: 26px;
  letter-spacing: -0.3px;
}

.chevron {
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

.item-number {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.4px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
